{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block main-content %}
<div class="container my-4" style="background-color: #F1F1FB; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); ">
   <div class="row p-5">
    <div class="col">
        <div class="card h-100 bg-light rounded-5 shadow-sm border-0" style="background-image: url('{% static 'app/images/pics/backgteach.jpg' %}');">
            <h1 class="fw-bold mb-3 text-muted text-center" style="padding: 20px;">RELEVANT CATEGORY BOOKS</h1>
        </div>
    </div>
</div>


    <div class="row">
        {% for book in books %}
        <div class="col-md-3">
            <div class="card bg-light rounded shadow mb-4" style="background-color: #F1F1FB;" >
                <img src="{{ book.image.url }}" alt="{{ category.title }}" class="card-img-top">
                <div class="card-body text-center ">
                    <h5 class="card-title text-muted ">{{ book.title }}</h5>
                    <p class="card-text text-muted ">Category: {{ book.category }}</p>
                    <p class="card-text text-muted">Explore the latest advancements in computer science and technology</p>
                    <a href="{% url 'subcourse_detail' pk=book.pk %}" class="btn btn-primary" style="background-color: #4540D9;">Course Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="container my-4" style="background-color: #F1F1FB; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); ">
   <div class="row p-5">
    <div class="col">
        <div class="card h-100 bg-light rounded-5 shadow-sm border-0" style="background-image: url('{% static 'app/images/pics/backgteach.jpg' %}');">
            <h1 class="fw-bold mb-3 text-muted text-center" style="padding: 20px;">MOST POPULAR BOOKS</h1>
        </div>
    </div>
</div>
<div class="container my-4" style="background-color: #F1F1FB; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);">


    <div class="row">
    {% for popular_book in popular_books %}
        <div class="col-md-3">
            <div class="card bg-light rounded shadow mb-4"style="background-color: #F1F1FB;" >
                <img src="{{ popular_book.image.url }}" alt="{{ popular_book.title }}" class="card-img-top">
                <div class="card-body text-center">
                     <h5 class="card-title text-muted">{{ popular_book.title }}</h5>
                    <p class="card-text text-muted ">Category: {{ popular_book.category }}</p>
                    <p class="card-text text-muted ">Explore the latest advancements in computer science and technology</p>
                    <a href="{% url 'subcourse_detail' pk=popular_book.pk %}" class="btn btn-primary" style="background-color: #4540D9;">Course Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


    <div class="container my-4" style="background-color: #F1F1FB; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); ">
   <div class="row p-5">
    <div class="col">
        <div class="card h-100 bg-light rounded-5 shadow-sm border-0" style="background-image: url('{% static 'app/images/pics/backgteach.jpg' %}');">
            <h1 class="fw-bold mb-3 text-muted text-center" style="padding: 20px;">FEATURED BOOKS</h1>
        </div>
    </div>
</div>
<div class="container my-4" style="background-color: #F1F1FB; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);">
    <div class="row">
        {% for book in featured_books %}
        <div class="col-md-3">
            <div class="card bg-light rounded shadow mb-4" style="background-color: #F1F1FB;">
                <img src="{{ book.image.url }}" alt="{{ book.title }}" class="card-img-top">
                <div class="card-body text-center ">
                     <h5 class="card-title text-muted ">{{ book.title }}</h5>
                    <p class="card-text text-muted">Category: {{ book.category }}</p>
                    <p class="card-text text-muted">Explore the latest advancements in computer science and technology</p>
                    <a href="{% url 'subcourse_detail' pk=book.pk %}" class="btn btn-primary" style="background-color: #4540D9;">Course Details</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

   <div class="container my-4" style="background-color: #F1F1FB; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); ">
   <div class="row p-5">
    <div class="col">
        <div class="card h-100 bg-light rounded-5 shadow-sm border-0" style="background-image: url('{% static 'app/images/pics/backgteach.jpg' %}');">
            <h1 class="fw-bold mb-3 text-muted text-center" style="padding: 20px;">ALL BOOKS</h1>
        </div>
    </div>
</div>
<div class="container my-4" style="background-color: #F1F1FB; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);">




    <div class="row">
        {% for book in bookcounts %}
        <div class="col-md-3">
            <div class="card bg-light rounded shadow mb-4" style="background-color: #F1F1FB;" >
                <img src="{{ book.image.url }}" alt="{{ book.title }}" class="card-img-top">
                <div class="card-body text-center ">
                      <h5 class="card-title text-muted">{{ book.title }}</h5>
                    <p class="card-text text-muted ">Category: {{ book.category }}</p>
                    <p class="card-text text-muted ">Explore the latest advancements in computer science and technology</p>
                    <a href="{% url 'subcourse_detail' pk=book.pk %}" class="btn btn-primary" style="background-color: #4540D9;">Course Details</a>


                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>




{% endblock main-content %}