{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block main-content %}
<div class="container my-4" style=" box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);">
  <div class="row mb-4">
    <div class="col-6">
  <h1 class="display-1 fw-bold text-body-emphasis lh-1 py-2">Learn from</h1>
  <h1 class="display-2 fw-bold text-body-emphasis lh-1 py-2 mb-4">the <span class="text-primary" style="color: #4540D9 !important;">Experts</span></h1>
  <p class="lead text-uppercase fw-bold text-primary mb-4" style="color: #4540D9 !important;">
    Education without leaving home.
  </p>
 <button type="button" class="btn btn-primary btn-lg px-3 py-2 fs-1" style="background-color: #4540D9; color: #FFFFFF;">Get Started</button>

</div>
<div class="col-6">
    <img src="{% static 'app\images\homePage\HeroAvatar.png' %}" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
</div>

  </div>


    <div class="row p-5">
      <div class="offset-1 col-3">
        <img src="{% static 'app\images\pics\h1.png' %}" alt="Image 1" class="img-fluid">
      </div>
      <div class="offset-1 col-3">
        <img src="{% static 'app\images\pics\h2.png' %}" alt="Image 2" class="img-fluid">
      </div>
      <div class="offset-1 col-3">
        <img src="{% static 'app\images\pics\h3.png' %}" alt="Image 3" class="img-fluid">
      </div>
    </div>

 <div class="row p-5">
    <div class="col">
  <div class="card h-100 bg-light rounded-5 shadow-sm border-0" style="background-color: #F1F1FB !important;">
    <div class="row gy-3 my-3">
      <div class="col-md-2">
        <img src="{% static 'app\images\pics\80.png' %}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-2">
        <div class="card-body pb-3">
          <h5 class="card-title font-family-poppins fw-bold fs-1" style="color: #4540D9;" >200k+ </h5>
          <h6 class="card-title text-muted font-family-poppins">TOTAL STUDENTS</h6>
        </div>
      </div>

      <div class="col-md-2">
        <img src="{% static 'app\images\pics\cat.png' %}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-2">
        <div class="card-body pb-3">
          <h5 class="card-title font-family-poppins fw-bold fs-1" style="color: #4540D9;" >100+</h5>
          <h6 class="card-title text-muted font-family-poppins">COURSES</h6>
        </div>
      </div>

 <div class="col-md-2">
        <img src="{% static 'app\images\pics\82.png' %}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-2">
        <div class="card-body pb-3">
          <h5 class="card-title font-family-poppins fw-bold fs-1" style="color: #4540D9;">9.8/10</h5>

          <h6 class="card-title text-muted font-family-poppins">AVERAGE RATING</h6>
        </div>
      </div>
    </div>
  </div>
</div>
 </div>


    <div class="row p-5">
    <div class="col">
  <div class="card h-100 bg-light rounded-5 shadow-sm border-0 " >
      <div class="row">
  <div class="col-12 text-center p-5">
    <h1><b>Why We Are The Best?</b></h1>
    <p class="text-muted">Apart from many benefits, we are the complete solution for your learning.</p>
  </div>
</div>
    <div class="row gy-3 my-3 p-5">
      <div class="col-md-4">
        <img src="{% static 'app\images\pics\Ellipse 6.png' %}" class="img-fluid rounded-start" alt="...">

        <div class="card-body pb-3">
          <h5 class="card-title font-family-poppins fw-bold fs-1" >500+</h5>
            <h5 class="card-title font-family-poppins fw-bold fs-1" >Expert Mentors </h5>
          <h6 class="card-title text-muted font-family-poppins">Lorem ipsum dolor sit amet  </h6>
            <h6 class="card-title text-muted font-family-poppins">consectetur. Vulputate tortor </h6>
            <h6 class="card-title text-muted font-family-poppins">pellentesque in integer donec </h6>
            <h6 class="card-title text-muted font-family-poppins"> etiam.  </h6>
        </div>
      </div>

      <div class="col-md-4">
        <img src="{% static 'app\images\pics\Ellipse 6 (1).png' %}" class="img-fluid rounded-start" alt="...">

       <div class="card-body pb-3">
          <h5 class="card-title font-family-poppins fw-bold fs-1" >500+</h5>
            <h5 class="card-title font-family-poppins fw-bold fs-1" >Expert Mentors </h5>
          <h6 class="card-title text-muted font-family-poppins">Lorem ipsum dolor sit amet  </h6>
            <h6 class="card-title text-muted font-family-poppins">consectetur. Vulputate tortor </h6>
            <h6 class="card-title text-muted font-family-poppins">pellentesque in integer donec </h6>
            <h6 class="card-title text-muted font-family-poppins"> etiam.  </h6>
        </div>
      </div>

 <div class="col-md-4">
        <img src="{% static 'app\images\pics\Ellipse 6 (2).png' %}" class="img-fluid rounded-start" alt="...">

        <div class="card-body pb-3">
          <h5 class="card-title font-family-poppins fw-bold fs-1" >500+</h5>
            <h5 class="card-title font-family-poppins fw-bold fs-1" >Expert Mentors </h5>
          <h6 class="card-title text-muted font-family-poppins">Lorem ipsum dolor sit amet  </h6>
            <h6 class="card-title text-muted font-family-poppins">consectetur. Vulputate tortor </h6>
            <h6 class="card-title text-muted font-family-poppins">pellentesque in integer donec </h6>
            <h6 class="card-title text-muted font-family-poppins"> etiam.  </h6>
        </div>
      </div>
    </div>

       <div class="row gy-3 my-3 p-5">
      <div class="col-md-4">
        <img src="{% static 'app\images\pics\E1.png' %}" class="img-fluid rounded-start" alt="...">

        <div class="card-body pb-3">
          <h5 class="card-title font-family-poppins fw-bold fs-1" >500+</h5>
            <h5 class="card-title font-family-poppins fw-bold fs-1" >Expert Mentors </h5>
          <h6 class="card-title text-muted font-family-poppins">Lorem ipsum dolor sit amet  </h6>
            <h6 class="card-title text-muted font-family-poppins">consectetur. Vulputate tortor </h6>
            <h6 class="card-title text-muted font-family-poppins">pellentesque in integer donec </h6>
            <h6 class="card-title text-muted font-family-poppins"> etiam.  </h6>
        </div>
      </div>

      <div class="col-md-4">
        <img src="{% static 'app\images\pics\E2.png' %}" class="img-fluid rounded-start" alt="...">

       <div class="card-body pb-3">
          <h5 class="card-title font-family-poppins fw-bold fs-1" >500+</h5>
            <h5 class="card-title font-family-poppins fw-bold fs-1" >Expert Mentors </h5>
          <h6 class="card-title text-muted font-family-poppins">Lorem ipsum dolor sit amet  </h6>
            <h6 class="card-title text-muted font-family-poppins">consectetur. Vulputate tortor </h6>
            <h6 class="card-title text-muted font-family-poppins">pellentesque in integer donec </h6>
            <h6 class="card-title text-muted font-family-poppins"> etiam.  </h6>
        </div>
      </div>

 <div class="col-md-4">
        <img src="{% static 'app\images\pics\E3.png' %}" class="img-fluid rounded-start" alt="...">

        <div class="card-body pb-3">
          <h5 class="card-title font-family-poppins fw-bold fs-1" >500+</h5>
            <h5 class="card-title font-family-poppins fw-bold fs-1" >Expert Mentors </h5>
          <h6 class="card-title text-muted font-family-poppins">Lorem ipsum dolor sit amet  </h6>
            <h6 class="card-title text-muted font-family-poppins">consectetur. Vulputate tortor </h6>
            <h6 class="card-title text-muted font-family-poppins">pellentesque in integer donec </h6>
            <h6 class="card-title text-muted font-family-poppins"> etiam.  </h6>
        </div>
      </div>
    </div>

  </div>
</div>
 </div>


  <div class="row p-5" style="background-color: #F1F1FB !important;" >
      <div class="row">
      <div class="col-10">
          <h2 ><b>Explore Courses by Categories</b></h2>
               <h5 class= "text-muted">Browse top-class courses by browsing our categories, which will make it easier for you.</h5>
        </div>
      <div class="col-2 ">
                <a href="{% url 'allCategory' %}" class="btn btn-primary" style="background-color: #4540D9;" >All Categories</a>
            </div>
      </div>

    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-3 p-3">
    <div class="col">
  <div class="card h-100 bg-light rounded-5 shadow-sm border-0">
    <div class="row gy-3 my-3">
      <div class="col-md-4">
        <img src="{% static 'app\images\pics\11.png' %}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body pb-3">
          <h5 class="card-title font-family-poppins fw-bold fs-4">App & Web</h5>
          <h5 class="card-title font-family-poppins fw-bold fs-4">Development</h5>
        </div>
      </div>
    </div>
  </div>
</div>

    <div class="col">
  <div class="card h-100 bg-light rounded-5 shadow-sm border-0">
    <div class="row gy-3 my-3">
      <div class="col-md-4">
        <img src="{% static 'app\images\pics\22.png' %}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body pb-3">
          <h5 class="card-title font-family-poppins fw-bold fs-4">Digital</h5>
          <h5 class="card-title font-family-poppins fw-bold fs-4">Marketing</h5>
        </div>
      </div>
    </div>
  </div>
</div>

    <div class="col">
  <div class="card h-100 bg-light rounded-5 shadow-sm border-0">
    <div class="row gy-3 my-3">
      <div class="col-md-4">
        <img src="{% static 'app\images\pics\33.png' %}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body pb-3">
          <h5 class="card-title font-family-poppins fw-bold fs-4">Graphics</h5>
          <h5 class="card-title font-family-poppins fw-bold fs-4">Designing</h5>
        </div>
      </div>
    </div>
  </div>
</div>

</div>

    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-3 p-3">
    <div class="col">
  <div class="card h-100 bg-light rounded-5 shadow-sm border-0 ">
    <div class="row gy-3 my-3">
      <div class="col-md-4">
        <img src="{% static 'app\images\pics\44.png' %}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body pb-3">
          <h5 class="card-title font-family-poppins fw-bold fs-4">Python</h5>
          <h5 class="card-title font-family-poppins fw-bold fs-4"></h5>
        </div>
      </div>
    </div>
  </div>
</div>

    <div class="col">
  <div class="card h-100 bg-light rounded-5 shadow-sm border-0">
    <div class="row">
      <div class="col-md-4">
        <img src="{% static 'app\images\pics\55.png' %}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body pb-3">
          <h5 class="card-title font-family-poppins fw-bold fs-4">Artificial</h5>
          <h5 class="card-title font-family-poppins fw-bold fs-4">Intelligence</h5>
        </div>
      </div>
    </div>
  </div>
</div>

    <div class="col">
  <div class="card h-100 bg-light rounded-5 shadow-sm border-0">
    <div class="row gy-3 my-3">
      <div class="col-md-4">
        <img src="{% static 'app\images\pics\66.png' %}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body pb-3">
          <h5 class="card-title font-family-poppins fw-bold fs-4">Government</h5>
          <h5 class="card-title font-family-poppins fw-bold fs-4">Exams</h5>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
  </div>


     <div class="row p-5 mt-5" >
        <div class="col-10">
            <h2 class="mb-3"><b>Popular Courses for you</b></h2>
            <h5 class="text-muted">Get the best course with the best price with world-class mentors.</h5>
        </div>
        <div class="col-2">
            <a href="{% url 'allCategory' %}" class="btn btn-primary" style="background-color: #4540D9;">See All Courses</a>
        </div>
    </div>

    <div class="row gy-3">

        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{% static 'app\images\pics\n1.png' %}" class="card-img-top" alt="...">
                <div class="card-body pb-3">
                    <h4 class="card-title p-3" style="color: #4540D9;"><b>Category</b></h4>
                    <h5 class="card-title text-muted p-3">Title of the Course</h5>
                    <div class="row">
                        <div class="col-2">
                            <img src="{% static 'app\images\pics\E1.png' %}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-2">
                            <h6 class="card-title text-muted font-family-poppins">10+</h6>
                        </div>
                        <div class="col-2">
                            <img src="{% static 'app\images\pics\Ellipse 6.png' %}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-2">
                            <h6 class="card-title text-muted font-family-poppins">4.9</h6>
                        </div>
                        <div class="col-2">
                            <img src="{% static 'app\images\pics\E3.png' %}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-2">
                            <h6 class="card-title text-muted font-family-poppins">$100</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4 ">
                <img src="{% static 'app\images\pics\n2.png' %}" class="card-img-top" alt="...">
                <div class="card-body pb-3">
                    <h4 class="card-title p-3" style="color: #4540D9;"><b>Category</b></h4>
                    <h5 class="card-title text-muted p-3">Title of the Course</h5>
                    <div class="row">
                        <div class="col-2">
                            <img src="{% static 'app\images\pics\E1.png' %}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-2">
                            <h6 class="card-title text-muted font-family-poppins">10+</h6>
                        </div>
                        <div class="col-2">
                            <img src="{% static 'app\images\pics\Ellipse 6.png' %}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-2">
                            <h6 class="card-title text-muted font-family-poppins">4.9</h6>
                        </div>
                        <div class="col-2">
                            <img src="{% static 'app\images\pics\E3.png' %}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-2">
                            <h6 class="card-title text-muted font-family-poppins">$100</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4 ">
                <img src="{% static 'app\images\pics\n3.png' %}" class="card-img-top" alt="...">
                <div class="card-body pb-3">
                    <h4 class="card-title p-3" style="color: #4540D9;"><b>Category</b></h4>
                    <h5 class="card-title text-muted p-3">Title of the Course</h5>
                    <div class="row">
                        <div class="col-2">
                            <img src="{% static 'app\images\pics\E1.png' %}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-2">
                            <h6 class="card-title text-muted font-family-poppins">10+</h6>
                        </div>
                        <div class="col-2">
                            <img src="{% static 'app\images\pics\Ellipse 6.png' %}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-2">
                            <h6 class="card-title text-muted font-family-poppins">4.9</h6>
                        </div>
                        <div class="col-2">
                            <img src="{% static 'app\images\pics\E3.png' %}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-2">
                            <h6 class="card-title text-muted font-family-poppins">$100</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Repeat the same structure for two more col-md-4 blocks -->
    </div>

    <div class="row gy-3 my-3">
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{% static 'app\images\pics\n4.png' %}" class="card-img-top" alt="...">
                <div class="card-body pb-3">
                    <h4 class="card-title p-3" style="color: #4540D9;"><b>Category</b></h4>
                    <h5 class="card-title text-muted p-3">Title of the Course</h5>
                    <div class="row">
                        <div class="col-2">
                            <img src="{% static 'app\images\pics\E1.png' %}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-2">
                            <h6 class="card-title text-muted font-family-poppins">10+</h6>
                        </div>
                        <div class="col-2">
                            <img src="{% static 'app\images\pics\Ellipse 6.png' %}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-2">
                            <h6 class="card-title text-muted font-family-poppins">4.9</h6>
                        </div>
                        <div class="col-2">
                            <img src="{% static 'app\images\pics\E3.png' %}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-2">
                            <h6 class="card-title text-muted font-family-poppins">$100</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4 ">
                <img src="{% static 'app\images\pics\n5.png' %}" class="card-img-top" alt="...">
                <div class="card-body pb-3">
                    <h4 class="card-title p-3" style="color: #4540D9;"><b>Category</b></h4>
                    <h5 class="card-title text-muted p-3">Title of the Course</h5>
                    <div class="row">
                        <div class="col-2">
                            <img src="{% static 'app\images\pics\E1.png' %}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-2">
                            <h6 class="card-title text-muted font-family-poppins">10+</h6>
                        </div>
                        <div class="col-2">
                            <img src="{% static 'app\images\pics\Ellipse 6.png' %}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-2">
                            <h6 class="card-title text-muted font-family-poppins">4.9</h6>
                        </div>
                        <div class="col-2">
                            <img src="{% static 'app\images\pics\E3.png' %}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-2">
                            <h6 class="card-title text-muted font-family-poppins">$100</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{% static 'app\images\pics\n6.png' %}" class="card-img-top" alt="...">
                <div class="card-body pb-3 ">
                    <h4 class="card-title p-3" style="color: #4540D9;"><b>Category</b></h4>
                    <h5 class="card-title text-muted p-3">Title of the Course</h5>
                    <div class="row">
                        <div class="col-2">
                            <img src="{% static 'app\images\pics\E1.png' %}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-2">
                            <h6 class="card-title text-muted font-family-poppins">10+</h6>
                        </div>
                        <div class="col-2">
                            <img src="{% static 'app\images\pics\Ellipse 6.png' %}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-2">
                            <h6 class="card-title text-muted font-family-poppins">4.9</h6>
                        </div>
                        <div class="col-2">
                            <img src="{% static 'app\images\pics\E3.png' %}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-2">
                            <h6 class="card-title text-muted font-family-poppins">$100</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Repeat the same structure for three col-md-4 blocks -->
    </div>



    <div class="my-5">
      <div class="card-header p-5 mb-4">
        <div class="row d-flex flex-wrap align-items-center">
          <div class="col-9">
            <h1 class="fw-bold">What are student are</h1>
            <h1 class="fw-bold">saying about us</h1>
          </div>
        </div>
      </div>


    <div class="row gy-3">

        <div class="col-md-4">
            <div class="card mb-4" style="background-color: #4540D9;" >
                <!-- Card content here -->
                <div class="card p-4 bg-light">
            <div class="card-header">
              <div class="row">
                <div class="col-4">
                  <img src="{% static 'app\images\pics\pp.jpg' %}" class="rounded-circle p-2" style="width: 80px;" alt="...">
                </div>
                <div class="col-8">
                  <div class="card-body">
                    <h5 class="card-title">John Doe</h5>
                    <p>⭐⭐⭐⭐⭐</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Good Platform</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the card's content.
                Some quick example text to build on the card title and make up the bulk of the card's content.
                Some quick example text to build on the card title and make up the bulk of the card's content.
                Some quick example text to build on the card title and make up the bulk of the card's content.
              </p>
            </div>
          </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4">
                <!-- Card content here -->
                <div class="card p-4 bg-light" >
            <div class="card-header">
              <div class="row">
                <div class="col-4">
                  <img src="{% static 'app\images\pics\pp.jpg' %}" class="rounded-circle p-2" style="width: 80px;" alt="...">
                </div>
                <div class="col-8">
                  <div class="card-body">
                    <h5 class="card-title">John Doe</h5>
                    <p>⭐⭐⭐⭐⭐</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Good Platform</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the card's content.
                Some quick example text to build on the card title and make up the bulk of the card's content.
                 Some quick example text to build on the card title and make up the bulk of the card's content.
                Some quick example text to build on the card title and make up the bulk of the card's content.
              </p>
            </div>
          </div>

            </div>
        </div>

        <div class="col-md-4">
            <div class="card mb-4" style="background-color: #4540D9;" >
                <!-- Card content here -->
                <div class="card p-4 bg-light" >
            <div class="card-header">
              <div class="row">
                <div class="col-4">
                  <img src="{% static 'app\images\pics\pp.jpg' %}" class="rounded-circle p-2" style="width: 80px;" alt="...">
                </div>
                <div class="col-8">
                  <div class="card-body" >
                    <h5 class="card-title">John Doe</h5>
                    <p>⭐⭐⭐⭐⭐</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">Good Platform</h5>
              <p class="card-text">
                Some quick example text to build on the card title and make up the bulk of the card's content.
                Some quick example text to build on the card title and make up the bulk of the card's content.
                  Some quick example text to build on the card title and make up the bulk of the card's content.
                Some quick example text to build on the card title and make up the bulk of the card's content.
              </p>
            </div>
          </div>

            </div>
        </div>



    <div class="my-5 p-5 h-100">
      <div class="card-header p-5 mb-4 text-center">
        <h1 class="fw-bold ">Subscribe NewsLatter</h1>
        <h5 class="fw-bold text-secondary">You can learn today and earn tomorrow. The roots of education are bitter but fruits are sweet.</h5>
      </div>
      <div class="row m-5 d-flex justify-content-center">
        <div class="col-8 p-5">
          <div class="input-group">
            <input type="text" class="form-control text-secondary opacity-50 h-auto d-inline-block "  placeholder="Enter your email address" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <span class="input-group-text btn btn-primary py-2 px-5 fs-2"  style="background-color: #4540D9;" id="basic-addon2">Subscribe</span>
          </div>
        </div>
      </div>
    </div>




  </div>



</div>
{% endblock main-content %}